
#name {
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    /* color: rgb(243, 241, 236);
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.733); */
    hover: pointer
}

.nav-link {
    margin-right: 30px;
    margin-top: 75px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    
}


.navbar-link {
    padding: 20px;
    /* margin-right: 20px; */
    text-decoration:none;
    color: black;
    font-style: bold;
    font-size: larger;

}

.navbar-link:hover {
    color: blue;
    text-decoration: none
}

ul {
    list-style-type: none;
}

#projects, #about, #contact {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.column1 {
    background-color: teal;
}